---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<key>&location=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 15 Jun 2021 16:55:46 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-63481313"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Lancaster
        County","adminArea4Type":"County","adminArea3":"PA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dr[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1623776146,"sunrise":1623756687,"sunset":1623810579,"temp":89.37,"feels_like":86.65,"pressure":1011,"humidity":27,"dew_point":51.03,"uvi":9.02,"clouds":0,"visibility":10000,"wind_speed":1.01,"wind_deg":19,"wind_gust":3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1623776160,"precipitation":0},{"dt":1623776220,"precipitation":0},{"dt":1623776280,"precipitation":0},{"dt":1623776340,"precipitation":0},{"dt":1623776400,"precipitation":0},{"dt":1623776460,"precipitation":0},{"dt":1623776520,"precipitation":0},{"dt":1623776580,"precipitation":0},{"dt":1623776640,"precipitation":0},{"dt":1623776700,"precipitation":0},{"dt":1623776760,"precipitation":0},{"dt":1623776820,"precipitation":0},{"dt":1623776880,"precipitation":0},{"dt":1623776940,"precipitation":0},{"dt":1623777000,"precipitati[...]
