---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1623772636,"sunrise":1623756687,"sunset":1623810579,"temp":86.13,"feels_like":84,"pressure":1011,"humidity":31,"dew_point":51.98,"uvi":6.35,"clouds":0,"visibility":10000,"wind_speed":1.01,"wind_deg":63,"wind_gust":3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1623772680,"precipitation":0},{"dt":1623772740,"precipitation":0},{"dt":1623772800,"precipitation":0},{"dt":1623772860,"precipitation":0},{"dt":1623772920,"precipitation":0},{"dt":1623772980,"precipitation":0},{"dt":1623773040,"precipitation":0},{"dt":1623773100,"precipitation":0},{"dt":1623773160,"precipitation":0},{"dt":1623773220,"precipitation":0},{"dt":1623773280,"precipitation":0},{"dt":1623773340,"precipitation":0},{"dt":1623773400,"precipitation":0},{"dt":1623773460,"precipitation":0},{"dt":1623773520,"precipitati[...]
